<ul class="b-socicons">
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>
	<li><a href="javascript:void(0);" title=""><img src="http://placehold.it/38x38"></a></li>

</ul>