<headermin></headermin>
<div class="freespace"></div>
<div class="b-cabinetAdd raw">
<div class="container">
<form enctype="multipart/form-data"  id="obj_form" novalidate ng-submit="submitAddRent()" name="addRentForm">
<h1>Добавить объект</h1>
<fieldset class="col-12">   
	<div class="col-4">
		<div class="col-wrap">
 			<div class="col-12">     
 			  <div class="b-select _b-select-middle">
 			  <label class="required" for="id_category">Категория объекта:</label>
 			  <select id="id_category" name="category" ng-model="addRent.category">
 			    <option value="1" selected="selected">Квартиры</option>
 			    <option value="2">Комнаты</option>
 			    <option value="3">Торговые площади</option>
 			    <option value="4">Офисы</option>
 			    <option value="5">Гаражи</option>
 			    <option value="6">Дома, коттеджи</option>
 			    <option value="7">Производственные помещения</option>
 			    <option value="8">Склады</option>
 			  </select>
 			  </div>
 			</div>   
 			<div class="col-12">     
 				<div class="b-input-text">
 			  	<label class="required" for="id_phones">Номера телефонов:</label>
 			  	<input id="id_phones" name="phones" type="text" ng-model="addRent.number" minlength="5" > 
 			  	<ul class="b-cabinetAdd-addphonelist" ng-show="addRent.numbers">
 			  		<li ng-repeat="phone in addRent.numbers track by $index">
 			  			{{phone}} 
 			  			<i ng-click="removePhone(addRent.number)" class="fa fa-close"></i></li>
 			  	</ul>      
 			  	<div 
 			  		class="b-cabinetAdd-addphonelist-button b-btn __b-btn-green _b-btn-middle" 
 			  		ng-click="addPhone(addRent.number)">
 			  			Добавить ещё один номер телефона
 			  	</div>
 			  </div>    
 			</div> 
 		</div>
  </div>
  <div class="col-4">
  	<div class="col-wrap">
   		<div class="col-12">
   			<div class="b-input-text">
   				<label class="required" for="id_cost">Цена:</label>
   				<input class="vIntegerField" id="id_cost" name="cost" type="text" minlength="3" maxlength="8">
   			</div>
   		</div>
   		<div class="col-12">
   			<div class="b-select _b-select-middle">
   				<label class="required" for="id_utilities">Оплата коммунальных услуг:</label>
   		    <select id="id_utilities" name="utilities">
				<option value="Не указаны" selected="selected">Неизвестно</option>
				<option value="Счетчики">Счетчики</option>
				<option value="Включены в стоимость">Включены в стоимость</option>
				<option value="Не включены в стоимость">Не включены в стоимость</option>
				<option value="Эл. энергия">Эл. энергия</option>
			</select>
   		  </div>
   		</div>
   	</div>
   </div>
   <div class="col-4">
  	<div class="col-wrap">
    <div class="col-12">
    	<div class="b-select _b-select-middle">
				<label for="id_fee_deposit">Залог:</label>
				<select id="id_fee_deposit" name="fee_deposit">
					<option value="1" selected="selected">Неизвестно</option>
					<option value="2">Да</option>
					<option value="3">Нет</option>
				</select>
      </div>
    </div>
   	<div class="col-12">
   		<div class="b-select _b-select-middle">
      	<label for="id_fee_prepayment">Предоплата:</label>
        <select id="id_fee_prepayment" name="fee_prepayment">
			<option value="1" selected="selected">Неизвестно</option>
			<option value="2">Да</option>
			<option value="3">Нет</option>
		</select>
      </div>
    </div>
    </div> 
    </div>
 
</fieldset>
<fieldset class="col-12">
    <h2>Расположение</h2>
		<div class="col-4">
			<div class="col-wrap">
    		<div class="col-12">
    			<div class="b-input-text">   
    				<label class="required" for="id_street">Город</label>
    				<input class="vTextField" id="id_city" ng-model="addRent.city" maxlength="254" minlength="2" name="namecity" type="text" >      
    			</div>
    		</div>
    		<div class="col-12">
    			<div class="b-select _b-select-middle">
    				<label class="required" for="id_district">Район:</label>
    				<select id="id_district" name="district" ng-model="addRent.area">
    					<option value="" selected="selected">Не указан</option>
    					<option value="Ленинский">Ленинский р-н.</option>
    					<option value="Промышленный">Промышленный р-н.</option>
    					<option value="Заднепровский">Заднепровский р-н.</option>
    					<option value="Смоленский">Смоленский р-н.</option>
    					<option value="Смоленская">Смоленская обл.</option>
    				</select>
    			</div>
				</div>

    	</div>
    </div>
    <div class="col-4">
    	<div class="col-wrap">
				<div  class="col-12">
    			<div class="b-input-text">    
						<label class="required" for="id_street">Улица:</label>
						<input class="vTextField" id="id_street" maxlength="254" minlength="7" name="stre="text" ng-model="addRent.sreet">  
					</div>  
    		</div>
    		<div  class="col-12">
    			<div class="b-input-text">      
						<label class="required" for="id_house">Номер дома:</label>
						<input class="vTextField" id="id_house" maxlength="32" minlength="1" name="house" type="text" ng-model="addRent.building">   
    		   </div> 
    		</div>
     	</div>
    </div>
		<div class="col-4">
    	<div class="col-wrap">
				<div class="col-12">
   				<div class="b-input-text">
   			    <label for="id_flat">Номер квартиры:</label>
   			    <input class="vIntegerField" id="id_flat" name="flat" type="text" minlength="2"  ng-model="addRent.numberappartament">
   			   </div>
   			</div>
   			<div class="col-12" >
   				<div class="b-input-text">
						<label for="id_entrance">Подъезд:</label>
						<input class="vIntegerField" id="id_entrance" name="entrance" type="text" ng-model="addRent.numberporch">
   			  </div>
   			</div>    	
    	</div>
    </div>
    <div  class="col-12">
   		<div class="b-input-text">     
 				<label for="id_location">Координаты:</label>    
 				<div class="b-cabinetAdd-map">
 					<ya-map 
						ya-zoom="12"
						ya-center=""
						ya-after-init="afterMapInit($target)"
						ya-controls="smallMapDefaultSet"
						ya-event-click="mapClick($event)"
            ya-source="myPlacemark"
						class="b-rentsmap-map-b">
						<ya-geo-object ya-source="mapPo[0]"></ya-geo-object>
   	  	  </ya-map>
   			</div>
   		</div>
   	</div>
</fieldset>
<fieldset class="module aligned cols">
    <h2>Удобства</h2>
    <div class="col-6">
        <div class="form-row field-facility_furniture">
            <div class="checkbox-row">
                <input id="id_facility_furniture" name="facility_furniture" type="checkbox" ng-model="propfurniture">
                <label for="id_facility_furniture">Мебель</label>
            </div>
        </div>
        <div class="form-row field-facility_built_in_kitchen">            
                <div class="checkbox-row">
                        <input id="id_facility_built_in_kitchen" name="facility_built_in_kitchen" type="checkbox" ng-model="addRent.propkitchen">
                        <label for="id_facility_built_in_kitchen">Встроенная кухня</label>
                </div>
        </div>
        <div class="form-row field-facility_refrigerator">
                <div class="checkbox-row">
                        <input id="id_facility_refrigerator" name="facility_refrigerator" type="checkbox" ng-model="addRent.propfridge"><label for="id_facility_refrigerator">Холодильник</label>
                </div>
        </div>
        <div class="form-row field-facility_washing_machine">
                <div class="checkbox-row">
                        <input id="id_facility_washing_machine" name="facility_washing_machine" type="checkbox" ng-model="addRent.propwasher"><label for="id_facility_washing_machine">Стиральная машина</label>
                </div>
        </div>
        <div class="form-row field-facility_tv">
                <div class="checkbox-row">
                        <input id="id_facility_tv" name="facility_tv" type="checkbox" ng-model="addRent.proptv"><label for="id_facility_tv">Телевизор</label>
                </div>
        </div>
        <div class="form-row field-facility_microwave">
                <div class="checkbox-row">
                        <input id="id_facility_microwave" name="facility_microwave" type="checkbox" ng-model="addRent.propmicrowave"><label for="id_facility_microwave">Микроволновая печь</label>
                </div>
        </div>

        <div class="form-row field-facility_conditioner">
                <div class="checkbox-row">
                        <input id="id_facility_conditioner" name="facility_conditioner" type="checkbox" ng-model="addRent.propconditioning"><label for="id_facility_conditioner">Кондиционер</label>
                </div>
        </div>
        <div class="form-row field-facility_phone">
                <div class="checkbox-row">
                        <input id="id_facility_phone" name="facility_phone" type="checkbox" ng-model="addRent.propphone"><label for="id_facility_phone">Телефон</label>
                </div>
        </div>
   			</div>
        <div class="col-6">   
        <div class="form-row field-facility_elevator">
                <div class="checkbox-row">
                        <input id="id_facility_elevator" name="facility_elevator" type="checkbox" ng-model="addRent.propelevator"><label for="id_facility_elevator">Лифт</label>
                </div>
        </div>

        <div class="form-row field-facility_parking">
                <div class="checkbox-row">
                        <input id="id_facility_parking" name="facility_parking" type="checkbox" ng-model="addRent.propparking"><label for="id_facility_parking">Парковка</label>
                </div>
        </div>
        <div class="form-row field-facility_internet">
                <div class="checkbox-row">
                        <input id="id_facility_internet" name="facility_internet" type="checkbox" ng-model="addRent.propinternet"><label for="id_facility_internet">Интернет</label>
                </div>
        </div>
        <div class="form-row field-facility_new_house">
                <div class="checkbox-row">
                        <input id="id_facility_new_house" name="facility_new_house" type="checkbox" ng-model="addRent.propnewhome"><label for="id_facility_new_house">Новый дом</label>
                </div>
        </div>
        <div class="form-row field-facility_smoking_permitted">
                <div class="checkbox-row">
                        <input id="id_facility_smoking_permitted" name="facility_smoking_permitted" type="checkbox" ng-model="addRent.propsmoking">
                        <label for="id_facility_smoking_permitted">Можно курить</label>
                </div>
        </div>
        <div class="form-row field-facility_pets_allowed">
                <div class="checkbox-row">
                        <input id="id_facility_pets_allowed" name="facility_pets_allowed" type="checkbox" ng-model="addRent.propanimal">
                        <label for="id_facility_pets_allowed">Животные разрешены</label>
                </div>
        </div>
        <div class="form-row field-facility_balcony">
                <div class="checkbox-row">
                        <input id="id_facility_balcony" name="facility_balcony" type="checkbox" ng-model="addRent.propbalcony">
                        <label for="id_facility_balcony">Лоджия/Балкон</label>
                </div>
        </div>
        <div class="form-row field-facility_appliances">
                <div class="checkbox-row">
                        <input id="id_facility_appliances" name="facility_appliances" type="checkbox" ng-model="addRent.propappliances"><label for="id_facility_appliances">Бытовые приборы</label>
                </div>
        </div>
        </div>
</fieldset>
<fieldset class="col-12">
  <h2>Параметры помещения</h2>
  <div class="col-4">
  	<div class="col-wrap">
      <div class="col-12">
          <div class="b-input-text">
              <label for="id_rooms_count">Количество комнат:</label>
              <input class="vIntegerField" id="id_rooms_count" name="rooms_count" type="text">
          </div>
      </div>
      <div class="col-12">
          <div class="b-input-text">
              <label class="required" for="id_floors">Всего этажей:</label>
              <input class="vIntegerField" id="id_floors" name="floors" type="text">
          </div class="b-input-text">
      </div>
      <div class="col-12">
          <div class="b-input-text">
              <label class="required" for="id_floor">Этаж:</label>
              <input class="vIntegerField" id="id_floor" name="floor" type="text">
          </div>
      </div>
     </div>
    </div>
    <div class="col-4">
  		<div class="col-wrap">

      <div class="col-12">
          <div class="b-input-text">
              <label class="required" for="id_square">Площадь:</label>
              <input id="id_square" name="square" step="0.01" type="number">
          </div>
      </div>      
      <div class="col-12">
          <div class="b-select _b-select-middle">
              <label class="required" for="id_object_state">Ремонт:</label>
              <select id="id_object_state" name="object_state">
                  <option value="Не указано" selected="selected">Не указано</option>
                  <option value="Косметический">Косметический</option>
                  <option value="Свежий косметический">Свежий косметический</option>
                  <option value="Капитальный">Капитальный</option>
                  <option value="Евроремонт">Евроремонт</option>
                  <option value="Дизайнерский">Дизайнерский</option>
                  <option value="Без отделки">Без отделки</option>
              </select>
          </div>
      </div>
      <div class="col-12">
          <div class="b-select _b-select-middle">
              <label class="required" for="id_wall">Материал стен:</label>
              <select id="id_wall" name="wall">
                  <option value="Не указан" selected="selected">Не указан</option>
                  <option value="Кирпич">Кирпич</option>
                  <option value="Монолит">Монолит</option>
                  <option value="Панель">Панель</option>
                  <option value="Дерево">Дерево</option>
                  <option value="Пеноблок">Пеноблок</option>
              </select>
          </div>
      </div>
      </div>
      </div>
      <div class="col-4">
  		<div class="col-wrap">
      <div class="col-12">
          <div class="b-select _b-select-middle">
              <label class="required" for="id_heating">Отопление:</label>
              <select id="id_heating" name="heating">
                  <option value="Не указано" selected="selected">Не указано</option>
                  <option value="Индивидуальное">Индивидуальное</option>
                  <option value="Центральное">Центральное</option>
                  <option value="Автономное">Автономное</option>
              </select>
          </div>
      </div>
      <div class="col-12">
          <div class="b-select _b-select-middle">
              <label class="required" for="id_room_type">Унитарность помещения:</label>
              <select id="id_room_type" name="room_type">
                  <option value="Не указано" selected="selected">Не указано</option>
                  <option value="Коммуналка">Коммуналка</option>
                  <option value="Общежитие">Общежитие</option>
                  <option value="В квартире с хозяевами">В квартире с хозяевами</option>
                  <option value="В квартире без хозяев">В квартире без хозяев</option>
                  <option value="В здании">В здании</option>
                  <option value="Отдельный вход">Отдельный вход</option>
              </select>
          </div>
      </div>
      <div class="col-12">
         <div class="b-select _b-select-middle">
          	<label class="required" for="id_tenancy">Срок аренды:</label>
          	<select id="id_tenancy" name="tenancy">
          		<option value="Неизвестно" selected="selected">Неизвестно</option>
          		<option value="Долгосрочная">Долгосрочная</option>
          	  <option value="Посуточная">Посуточная</option>
          	</select>
         </div>
      </div>
      </div>
      </div>
</fieldset>
<fieldset class="col-12" class="module aligned ">
    <h2>Дата заселения / выселения</h2>
        <div class="col-2">
            <div class="b-input-text">
                <label for="id_moving_in_date">Дата заселения:</label>
                <input class="vDateField" id="id_moving_in_date" name="moving_in_date" size="10" type="text">
            </div>
        </div>

</fieldset>
<fieldset class="col-12">
	<div class="col-12">
		<div class="b-textarea">
			<label for="id_description">Описание:</label>
				<textarea class="vLargeTextField" cols="40" id="id_description" maxlength="4000" name="description" rows="10"></textarea>
			</div>
	</div>
</fieldset>
<fieldset class="col-12">
   <h2>Фотографии</h2>
   <div class="row">

                <div class="col-12">
                    <div class="b-upload col-3">
                    	<input type="file" nv-file-select="" uploader="uploader" multiple  />
                    	<div class="b-btn __b-btn-green _b-btn-middle">Выберете фотографии</div>
                    </div>
                </div>

                <div class="col-12" style="margin-bottom: 40px" ng-show="uploader.queue.length > 0">

                    <h3>Загрузка фотографий</h3>
                    <p>Всего: {{ uploader.queue.length }}</p>

                    <table class="table col-12">
                        <thead>
                            <tr>
                                <th width="50%">Имя</th>
                                <th ng-show="uploader.isHTML5">Размер</th>
                                <th ng-show="uploader.isHTML5">Прогресс</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="b-btn __b-btn-green _b-btn-middle" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="fa fa-upload"></span> Загрузить
                                    </button>
                                    <button type="button" class="b-btn __b-btn-red _b-btn-middle" ng-click="item.remove()">
                                        <span class="fa fa-trash"></span> Удалить
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Общий прогресс:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="b-btn __b-btn-green _b-btn-middle" 
                        				ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="fa fa-upload"></span> Загрузить все
                        </button>
                        <button type="button" class="b-btn __b-btn-red _b-btn-middle" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="fa fa-ban"></span> Отменить все
                        </button>
                        <button type="button" class="b-btn __b-btn-red _b-btn-middle" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="fa fa-trash"></span> Удалить все
                        </button>
                    </div>

                </div>

            </div>

   
</fieldset>
<fieldset>
<div class="col-12">
<input 
	type="submit" 
	value="Отправить" 
	class="b-btn __b-btn-green _b-btn-middle" 
	name="_save" 
	ng-class="{'b-btn-invalid':addRentForm.$invalid == true}"
	ng-disabled="addRentForm.$invalid">

</div>
</fieldset>
</form>
</div>

</div>