<headermin></headermin>
<div class="freespace"></div>
<div class="container">
	<div class="col-12 b-cabinet-content">
	<h1>Личный кабинет | {{username}} | {{accauntTime()}}</h1>
		<a href="#/cabinet/add" class="b-cabinet-content-button col-3">
			<div class="b-cabinet-content-button-wrap">
				<div class="fa fa-file-o fa-5x"></div>
				<div class="b-cabinet-content-button-wrap-text">
					Добавить объект
				</div>
			</div>
		</a>
		<a href="#/favorite" class="b-cabinet-content-button col-3">
			<div class="b-cabinet-content-button-wrap">		
				<div class="fa fa-heart-o fa-5x"></div>
				<div class="b-cabinet-content-button-wrap-text">
					Избранные
				</div>
			</div>
		</a>
		<a href="#/cabinet/pay" class="b-cabinet-content-button col-3">
			<div class="b-cabinet-content-button-wrap">		
				<div class="fa fa-credit-card  fa-5x"></div>
				<div class="b-cabinet-content-button-wrap-text">
					Активировть аккаунт
				</div>
			</div>
		</a>
		<a href="/cabinet/option" class="b-cabinet-content-button col-3">
			<div class="b-cabinet-content-button-wrap">		
				<div class="fa fa-cog fa-5x"></div>
				<div class="b-cabinet-content-button-wrap-text">
					Настройки
				</div>
			</div>
		</a>
		<div class="col-12 b-cabinet-content-myobject" ng-show="myObject.legnth > 1 || true">
			<h2>Мои объекты:</h2>
			<ul class="b-rentTable">
				<li 
					ng-repeat="rent in myObject track by $index" 
					class="b-rentTable-item" 
					ng-controller="rentsTableItemCtrl">
					<div class="b-rentTable-item-map col-3">
						<ya-map 
						ya-zoom="13" 
						ya-center="{{rent.map}}"
						ya-source="renItemMap(rent.map)"
						ya-options="{preset: 'islands#icon',iconColor: '#0095b6'}"></ya-map>
					</div>
					<div class="b-rentTable-item-info col-5">
						<div class="col-12">
							<div class="b-rentTable-item-info-price col-8">{{rent.price + __currency}}</div>
							<div class="col-4 addfavorite">
								<span>Объект №{{rent.id}}</span>
								<i 
								class="fa"
								ng-class="isFavorite(rent.id)?'fa-heart':'fa-heart-o'"
								ng-click="addFavorite(rent.id)"
								title="{{isFavorite(rent.id)?'Удалить из избранного':'Добавить в избранное'}}"
								></i>
							</div>
						</div>
						<div class="b-rentTable-item-info-type">{{rent.type}}<span>{{rentType()}}</span></div>					
						<div class="b-rentTable-item-info-adres">{{rent.adres}}</div>
						<div class="b-btn _b-btn-small __b-btn-green b-rentTable-item-info-number" 
						     ng-click="showNumber(rent.number)">
						     {{buttonShowNumber}}
						</div>
						<div class="b-rentTable-item-info-b">
							<ul class="b-rentTable-item-info-b-list col-6">
								<li>Площадь: {{rent.square + __square}}</li>
								<li>Доп.платежи: {{rent.payments}}</li>
								<li>Залог: {{rent.zalog}}</li>
							</ul>
							<ul class="b-rentTable-item-info-b-list col-6">
								<li>Срок аренды: {{rent.time}}</li>
								<li>Этаж: {{rent.flor + '/' + rent.maxflor}}</li>
								<li>Предоплата: {{rent.predoplata}}</li>
							</ul>
						</div>
					<div class="b-rentTable-item-info-buttons">
						<a class="b-btn _b-btn-small __b-btn-grey" 
						   target="_blank" 
						   href="#/rents/{{rent.id}}">Открыть в новой вкладке</a>
						<div class="b-btn _b-btn-small __b-btn-grey" 
						     ng-click="showInfo()" 
						     ng-show="isShowInfoButton(rent.img)">{{buttonShowInfo}}</div>					
					</div>
					</div>
					<div class="b-rentTable-item-dopinfo col-4">
						<div class="b-rentTable-item-dopinfo-avatar" 
						     ng-show="!isShowInfo">
							<div class="b-rentTable-item-avatar-img">
								<img ng-src="{{rent.img[0]}}">				
								<div class="b-rentTable-item-avatar-img-panel" 
								     ng-show="avatarOrMap(rent.img)" 
								     ng-show="avatarOrMap(rent.img)">
									<a href="javacript:void(0)">
										<i class="fa fa-camera">{{rent.img.length}}</i>
									</a>
									<a href="javacript:void(0)">
										<i class="fa fa-arrows-alt "></i>
									</a>
								</div>
							</div>
	
						</div>
						<div class="b-rentTable-item-dopinfo-b" ng-show="isShowInfo">
							<ul class="b-rentTable-item-dopinfo-b-list">
								<li ng-class="infoList(rent.propnewhome)">Новый дом</li>
								<li ng-class="infoList(rent.propfurniture)">Мебель</li>
								<li ng-class="infoList(rent.proptv)">Телевизор</li>
								<li ng-class="infoList(rent.propfridge)">Холодильник</li>
								<li ng-class="infoList(rent.propwasher)">Стиральная машина</li>
								<li ng-class="infoList(rent.propmicrowave)">Микроволновая печь</li>
								<li ng-class="infoList(rent.propkitchen)">Встроенная кухня</li>
								<li ng-class="infoList(rent.propbalcony)">Лоджия/Балкон</li>
							</ul>
							<ul class="b-rentTable-item-dopinfo-b-list">
								<li ng-class="infoList(rent.propelevator)">Лифт</li>
								<li ng-class="infoList(rent.propinternet)">Интернет</li>
								<li ng-class="infoList(rent.propparking)">Парковка</li>
								<li ng-class="infoList(rent.propconditioning)">Кондиционер</li>
								<li ng-class="infoList(rent.propphone)">Телефон</li>
								<li ng-class="infoList(rent.propappliances)">Бытовые приборы</li>
								<li ng-class="infoList(rent.propsmoking)">Можно курить</li>
								<li ng-class="infoList(rent.propanimal)">Можно с животными</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-12 b-cabinet-content"
	</div>


</div>