.b-header
	background bgcolor
	display block
	width 100%
	height 105px
	font-set()
	&-homelink
		display block
		
	&-homelink
		&-logo
			width 100%
			height 100%
	&-menu
		width 100%
		& ul
			& li
				List-style-type none
				color white
				
	&-contact
		& li
			List-style-type none
			& a
				color #fff -44%
				tansform color 1s esey-outlllll
			& a:hovera
				color #fff
		&-icon
			opacity .7