@import mixin
@import grid

bgcolor = rgba(44, 62, 80,1.0)
fsize = 16px
bodycolor = rgba(248,248,248,1)
whitecolor  = rgba(255,255,255,1)
greencolor = rgba(39, 174, 96,1.0)
redcolor = rgba(162,28,36,1)
anim = ease-out .1s
brad = border-radius 4px
.ohide
	opacity 0
.freespace
	height 40px
	width 100%
.none
	display none !important		
 
body
	cursor default
	background url(../img/bg.jpg)
	color bgcolor
	min-width 1280px
a
	color greencolor
#
	background url('../img/index_4.jpg') top center no-repeat	
	position absolute
	top 0px
	opacity .3
	width 100%
	height 1800px
.filter-holder
	width 100%
	height 2000px
	position absolute
	top 0px
	overflow hidden
	z-index 99

input[type=checkbox]
input[type=radio] 
	display none
input[type=checkbox] + label:before 
	content ""
	display inline-block
	height 16px
	width 16px
	border 1px solid bgcolor
	font-size 16px
	line-height 16px
	text-align center
	margin-right 5px
	color greencolor
	transition color ease .5s
input[type=checkbox]:checked + label:before 
	color greencolor
	content "\2714"
input[type=checkbox]:checked + label:before 
	color 16px
input[type=radio] + label:before 
	content ""
	border: 1px solid bgcolor
	border-radius 50%
	display inline-block
	font-size 0
	line-height 16px
	height 16px
	width 16px
	text-align center
	margin-right 5px
	color greencolor
	transition color ease .5s
	transition font-size ease 0.2s
input[type=radio]:checked + label:before 
	font-size 16px
	color greencolor
	content "\25cf"
.b-textarea
	float left
	width 100%
	label
		width 100%
	textarea
		width 100%
input.ng-dirty
	border 1px solid bgcolor + 30% !important
input.ng-valid
	border 1px solid greencolor !important
input.ng-invalid
	border 1px solid redcolor + 70% !important
input.ng-pristine
	border 1px solid bgcolor + 70% !important
	
.b-upload 
	& input[type=file]
		position absolute
		top 0
		left 0
		width 100%
		opacity 0
		font-size 150px
		height 42px
		z-index 20
		cursor pointer

//////////////кнопки.............
.b-btn
	color white
	text-decoration none
	display block
	border-style solid 
	border none
	cursor pointer
	border-radius 5px
	text-align center
	&-invalid
		background bgcolor + 50% 
._b-btn-small 
	padding 5px	10px
	margin 10px 0
	brad
._b-btn-middle
	padding 7px 15px
	border-style solid
	border-width 0 0 5px
	font-set(16px)
	margin-top -4px
	&:active
		margin-top 0px!important
		border-bottom-width 1px
._b-btn-big
	padding 10px 50px
	border-width 0 0 10px
	border-style solid
	font-set(24px)
	margin-top -9px
	&:active
		margin-top 9px
		padding-top 10px
		border-bottom-width 1px	
.__b-btn
	&-green
		background greencolor
		border-color greencolor - 20%
		transition border-bottom-width anim, margin-top anim
	&-red
		background redcolor
		border-bottom 5px solid @background - 20%
		transition border-bottom-width, anim, margin-top anim
	&-grey
		background bgcolor + 50%
		border-color bgcolor - 20%
		transition border-bottom-width, anim, margin-top anim, padding-top anim
.b-select
	overflow hidden
	& label 
		float left
		padding 10px 0px
		margin-right 10px
	& select 
		border-radius 5px
		border 1px solid bgcolor + 70%
		float left
		& option 
			width 100%
._b-select-middle 
	& select
		background whitecolor
		padding 7px 15px
		font-set(16px, bgcolor)
.b-input-text
.b-input-email
.b-input-pass
	brad
	& label 
		float left
		padding 10px 0px
		margin-right 10px
	& input
		box-sizing border-box
		width 100%
		float left
		border-radius 5px
		background whitecolor
		padding 7px 15px
		font-set(16px, bgcolor)
		border 1px solid bgcolor + 70%
//////////////////header///////////////////////////
.b-header
	background bgcolor
	display block
	width 100%
	height 68px
	border-bottom 2px solid greencolor
	font-set()
	&-homelink
		display block
		width 220px
		margin 17px 0 0
		float left
		&-logo
			width 100%
			height 100%
	&-menu
		margin 20px 0 0
		float left
		width 65%
		text-align center
		& ul
			margin 0 auto
			display block
			width 610px
			& li
				text-decoration none
				display block
				float left
				margin 0 10px
	&-contact
		margin 9px 0
		float right
		& li
			color whitecolor
			list-style-type none
			& a					
				color whitecolor
				text-decoration none
				& .fa
					opacity .5
					margin 0 3px
				& .fa-mobile
					font-size 25px
					position relative
					top 4px
				& .fa-envelope
					position relative
					left -2px
.header-min
	position fixed
	z-index 99999
	top -60px
	transition top ease-out 1s
	
.header-max
	top 0
.show-header-btn
	margin 0 auto
	width 25px
	height 25px
	font-size 20px
	padding 4px 4px 0
	background bgcolor
	position relative
	z-index 999999
	text-align center
/////////////////hero///////////////////	
.b-hero
	width 100%
	height 450px
	&-bg
		background url('../img/slider1/lounge-1234252_1920.jpg') top center no-repeat
		position absolute
		top 0
		left 0
		width 100%
		height 410px
		z-index 1
	&-textblock
		width 100%
		position relative
		z-index 2
		font-set(26px)
		text-align center
		text-transform uppercase
		margin-top 170px
	&-buttonblock
		width 370px
		position relative
		z-index 2
		text-align center
		margin 47px auto
		a 
			display block
			float:left
			margin 0 10px 
////////////////indexgrid//////////////		
.indexgrid-1
.indexgrid-2
	font-set(30px)
	text-align center
	float left
.tile-min
.tile-max
.tile-seo
	display block
	color whitecolor
	position relative
	z-index 2	
	text-decoration none
	margin-bottom 5px
	margin-right 5px
	float left
	overflow hidden
	background-position center center
	background-repeat no-repeat
	column_style()
.indexgrid-1:last-child
.indexgrid-2:last-child
	margin-right 0
.indexgrid-1
	width 33.3%
.indexgrid-2 
	float left
	column_style()
	width 66.6%
.tile-min
	width 384px
	height 144px
	padding-top 50px
.tile-max
	width 384px
	height 293px
	padding-top 125px
.tile-seo
	height 292px
	width 774px
	text-align left
	font-set(18px)
	ul
		margin 0
		padding 15px
		li
			list-style-type none
			padding 5px
			a
				color whitecolor
				text-decoration none
				transition text-decoration anim, color anim
			a:hover 
				text-decoration underline
				color whitecolor - 25 
//.tile-min:after
//	width 384px
//	height 144px
//.tile-max:after
//	width 384px
//	height 293px
//.tile-seo:after
//	height 292px
//	width 774px
//.tile-min:after
//.tile-max:after
//.tile-seo:after
//	content ''
//	display block
//	background bgcolor
//	opacity .7
//	position absolute
//	z-index -1
//	top 0
//	transition opacity anim, color anim
//.tile-seo:hover::after
//.tile-min:hover::after
//.tile-max:hover::after
//	opacity .2
.tile-seo span
.tile-min span
.tile-max span
	color #fff 
.tile-min span:after
.tile-max span:after
	content ''
	width 85%
	background greencolor
	padding 26px 0
	display block
	opacity .4
	position relative
	top -40px
	z-index -1
	margin 0 auto
	border-radius 5px
	transition opacity anim
.tile-max span:after
	content ''
	width 85%
	background greencolor
	padding 26px 0
	opacity .4
	position relative
	top -40px
	z-index -1
	margin 0 auto
	border-radius 5px
	transition opacity anim
.tile-min span:hover:after
.tile-max span:hover:after
.tile-max span:hover:after
	opacity .55
	
///////////////footer//////////////////
.b-footer
	width 100%
	background bgcolor
	padding-top 25px
	padding-bottom 10px
	& .raw 
		border-bottom 4px solid greencolor
		padding 0 0 10px
	& .col
		width 33%
		float left
		column-style()
	&-logo img
		width 220px
		opacity .7
	&-call
		text-align center
		font-set(16px)
	&-nav
		text-align center
		& li 
			display inline-block
			margin 0 5px
			& a
				opacity .7
				transition opacity anim
				font-set(16px)
				&:hover
					opacity 1
	& .license
		opacity .7
		transition opacity anim
		text-align center
		font-set(12px)
		&:hover
			opacity 1
	&-sitemap
		& .col
			& .list1
				padding-left 0px
			& .list2
				padding-left 117px
			& .list3
				padding-left 133px
			& ul
				display block
				padding 0
				& li
					list-style-type none
					& a
						font-set(16px)
						text-decoration none
						opacity .7
						transition opacity anim
						&:hover
							opacity 1
//////////////end footer////////////						
/////////////socicons///////////
.b-socicons
	text-align right
	margin 0
	& li 
		display inline-block
////////////////////блок новый объявлений////////////////////////
.b-newrent
	margin 10px 0
	&-title
		border-bottom 2px solid greencolor
	&-list
		height 293px * .7 + 20px
		overflow hidden
		&-item
			width 384px * .7
			height 293px * .7
			display block
			color whitecolor
			position relative
			z-index 2	
			margin-bottom 5px
			margin-right 10px
			float left
			overflow hidden
			background-position center center
			background-repeat no-repeat
			text-decoration none
			column_style()
			overflow hidden
			&:after
				width 384px * .7
				height 293px * .7
				content ''
				display block
				background bgcolor
				opacity .7
				position absolute
				z-index -1
				top 0
				transition opacity anim, color anim
			& a 
				text-decoration none
				color whitecolor
			&-adres
				padding 10px 10px 5px
				color whitecolor
				font-set(20px)
			&-type
				padding 0 10px		
				font-set(16px)
			&-info
				width 384px * .7
				padding 10px
				position absolute
				bottom 0
				background whitecolor - 20%
				font-set(20px)
//////////////end-block new rent////////
//////////////filter//////////////////
.b-filter 
	margin 0px 0 10px
	&-buttons
		& > button
			float right
		& .b-select
			float left
		& .b-btn 
			margin-left 15px
	&-price
		& > div 
			float left
			padding-right 30px
		& span
			font-set(18px, bgcolor)
			padding 7px 0
			float left
			display block
	&-order
		&::selection 
			background whitecolor
		&::-moz-selection 
			background whitecolor		
		& ul
			margin 0 5px
			padding 0
			float left
			display block
		& span
			display block
			float left
		&-l 
			display inline-block
			margin 0 10px
			content none
			cursor pointer
			&::selection 
				background: whitecolor
			&::-moz-selection 
				background: whitecolor		
			&-active 
				color greencolor
				&-up
					&:after
						content '∧'
						opacity .5
						padding-left 1px
						transition rotate anim
				&-reverse					
					&:after
						content '∨'

.b-input-filter-index
	padding 5px	10px
	margin 0px
	background none
	border 0
	width 100%
	display block
	box-sizing border-box
	height 43px
	font-set(18px, bgcolor)
.b-filter-popup
	position absolute
	width 400px
	top 40px
	right 0px
	border 4px solid bgcolor
	border-top 0px
	background whitecolor
	z-index 110
	&-header
		vertical-align bottom
		&-before
			float left
			padding 15px 5px 5px
			margin 0 5px
			box-sizing border-box
			color greencolor
			text-decoration underline
			width 20%
			&:hover
				color bgcolor
				text-decoration none				
		&-clear
			width 20%
			text-align right
			float left
			padding 15px 5px 5px
			margin 0 5px
			box-sizing border-box
			color greencolor
			text-decoration underline
			&:hover
				color bgcolor
				text-decoration none		
		&-title
			width 54%
			float left
			font-set(28px, bgcolor)
			padding 5px
			text-align center
			box-sizing border-box
	&-body
		& .btn-filter-active
			background bgcolor
.b-btn-filter-index
	display block
	padding 5px	10px
	background none
	border 0
	width 400px
	font-set(18px, bgcolor)
	margin-bottom 3px !important
	&-title
		float left
		font-weight 400
	&-status
		float right
		opacity .5
		width 130px
		overflow hidden
		display block
		text-align right
.b-btn-filter-body
	display block
	padding 5px	10px
	background none
	border 0
	width 400px
	font-set(18px, bgcolor)
	font-weight 400
	text-align left
	&-checkbox
		padding 5px 10px	
		background none
		border 0
		width 400px
		font-set(18px, bgcolor)
		font-weight 400
		text-align left
		&:after
			display block
			width 18px
			height 18px
			color whitecolor
			border-radius 50%
			line-height 18px
			text-align center
			float right
			margin 0 2px
			font-size 10px
			content ''
			border 1px solid greencolor
.btn-filter-active-checkbox
	&:after
		display block
		width 18px
		height 18px
		color whitecolor
		border-radius 50%
		line-height 18px
		text-align center
		float right
		margin 0 2px
		font-size 10px
		content '\2713'
		background greencolor
.btn-filter-active
	&:after
		display block
		width 18px
		height 18px
		color whitecolor
		border-radius 50%
		line-height 18px
		text-align center
		float right
		margin 0 2px
		font-size 10px
		content '\2713'
		background greencolor
.angular-range-slider
	display inline-block
	position relative
	height 8px
	width 100%
	margin 15px 5px 25px 5px
	vertical-align middle
.angular-range-slider div 
	white-space nowrap
	position absolute
.angular-range-slider div.bar 
	width 100%
	height 100%
	border-radius 10px
	background bgcolor
	overflow hidden
.angular-range-slider div.bar .selection 
	width 0
	height 100%
	background greencolor - 20%
.angular-range-slider div.handle
	cursor pointer
	width 25px
	height 25px
	top -8px
	background-color greencolor
	border-radius 50%
	z-index 2
.angular-range-slider div.bubble
	display inline-block
	cursor default
	top 18px
	padding 1px 3px 1px 3px
	font-size 16px
	font-family sans-serif
.angular-range-slider div.bubble:after
	content ' ₽'
.angular-range-slider div.bubble.active 
	display inline-block
.angular-range-slider div.bubble.limit 
	display none 
.angular-range-slider .value
	background bodycolor
//////////////end-filter////////////////
/////////////rent-table/////////////////
.b-rentTable
	padding-left 0
	margin-top 0px
	min-height 90vh
	&-item
		display block
		background bodycolor - #111
		list-style-type none
		margin-bottom 10px
		float left
		width 100%
		height 251px
		column_style()
		&-map
			min-height 1px						
		&-info
			padding 10px 20px 0
			&-price
				font-set(20px, greencolor)
			&-adres
				font-set(18px, bgcolor)
			&-type
				font-set(18px, bgcolor)
				& span
					font-set(18px, bgcolor + 10%)
			&-b
				&-list
					display inline-block
					vertical-align top
					padding-left 0
					padding-right 20px
					overflow hidden
					font-set(16px, bgcolor)
					& li 
						list-style-type none
						height 18px
						overflow hidden
			& .addfavorite
				text-align right
				& span
					display block
					float left
					opacity .5
					color bgcolor
					font-size 14px
					line-height 21px
				& .fa
					font-size 22px
					color greencolor
			&-number
					width 240px
			&-buttons
				& .b-btn
					float left
					margin-right 10px
					font-size 14px
		&-dopinfo
			font-size 14px
			line-height 20px
			&-avatar
				float left
				background bgcolor
				display block
				color whitecolor
				position relative
				z-index 2	
				overflow hidden
				width 100%
				height 251px
				position relative
				&:after
					content ''
					display block
					background bgcolor
					opacity .7
					position absolute
					z-index -1
					top 0
					transition opacity anim, color anim
				&:hover::after
					opacity .2
				&-img
					position relative
					&-panel 
						position absolute
						z-index 9
						top 0
						width 100%
						height 251px
						&-angle
							position absolute
							top 251px*.5 - 30px 
							height 60px
							font-size 60px
							color bodycolor
							background bodycolor
							opacity .5
							transition opacity anim
							z-index 10
							text-shadow 0px 0px 2px bgcolor
							&:hover
								opacity 1
						& .left 
							left 0px
							text-align left
							padding 5px 10px  5px 5px
						& .right
							right 0px	
							text-align right
							padding 5px 5px  5px 10px		
						&-photocount
							position absolute
							bottom 5px
							width 100%
							height 25px
							font-size 25px
							text-align center
							text-shadow 0px 0px 2px bgcolor						
			&-b
				&-list
					float left
					display block
					width 49%
					padding-left 0
					padding-right 5px
					box-sizing border-box
					margin 10px 0
					& li 
						list-style-type none
						padding 6px 0 0
						&:before
							display block
							width 18px
							height 18px
							color whitecolor
							border-radius 50%
							line-height 18px
							text-align center
							float left
							margin 0 2px
							font-size 10px
					& li.true:before
						content '\2713'
						background greencolor
					& li.false:before
						content '\2715'
						background redcolor
//////////////end-renttable//////////////
//////////////////rentmap////////////////
.b-rentsmap
	&-list
		overflow-y scroll
		overflow-x hidden
		&-item
			height 123px
			margin-bottom 10px
			&-avatar
				height 123px
				background bgcolor
				overflow hidden	
			&-info
				padding 5px
				&-price
					font-set(22px, greencolor)
					margin-bottom 5px
				&-type
					font-set(18px, bgcolor)	
					margin-bottom 5px
				&-adres
					font-set(18px, bgcolor)	
					height 30px 
					overflow hidden
				&-square
					font-set(18px, bgcolor)
				&-b 
					& div
						float right
						font-set(18px, greencolor)
						margin 0 2px
						position relative
						z-index 12
						transition color anim
						&:hover
							color bgcolor
						& a:hover
							color bgcolor
	&-content
		padding 0 20px
		& .b-cart-content
			margin-top 10px
			padding-right 0
		& .b-cart-sidebar
			& .b-btn
				float left
				margin-right 15px
	&-map
		background whitecolor
		& yandex-map
			width 100%
			height 500px
			display block		
/////////////end-rentmap////////////////
//\\/\/\/\/\/\rent cart\/\/\/\/\/\/\/////
.b-cart
	&-header
		margin 10px 0
		&-price
			font-set(24px, greencolor)
		&-adres
			font-set(20px, bgcolor)
			opacity .7
		&-type
			font-set(24px, bgcolor)	
			& span		
				opacity .7
		&-addfavorite
			font-set(24px, greencolor)
			& .fa
				color bgcolor
	&-content
		margin-top 10px
		padding-right 20px
		&-slider
			height 100%
			&-bigimg
				width 100%
				position relative
				& img 
					width 100%
				&-angle
					position absolute
					top 48%
					width 60px
					height 60px
					font-size 60px
					color rgba(255,255,255,1)
					opacity .9
					transition opacity anim
					z-index 10
					text-shadow 0px 0px 2px bgcolor
					&:hover
						opacity 1
				& .left 
					left 10px
					text-align left
				& .right
					right 10px	
					text-align right		
				&-photocount
					position absolute
					bottom 25px
					width 100%
					height 25px
					color rgba(255,255,255,1)
					font-size 25px
					text-align center
					text-shadow 0px 0px 2px bgcolor			
			&-imglist
				list-style-type none
				margin 5px 0
				padding 0
				& li
					width 23%
					height 120px
					overflow hidden
					display inline-block
					padding 0
					margin 0 1%
					& img
						width 100%
		&-info	
			&-b
				clear both
				& h2
					width 100%
					font-weight normal
					border-bottom 2px solid greencolor
				&-list
					float left
					display block
					width 49%
					padding-left 0
					padding-right 10px
					box-sizing border-box
					margin 10px 0
					& li 
						list-style-type none
						padding 4px 0
						&:before
							display block
							width 18px
							height 18px
							color whitecolor
							border-radius 50%
							line-height 18px
							text-align center
							float left
							margin 0 2px
							font-size 10px
					& li.true:before
						content '\2713'
						background greencolor
					& li.false:before
						content '\2715'
						background redcolor
				&-map yandex-map
					width 100%
					height 400px
					display block
	&-sidebar
		height 100%
		&-divider
			border-bottom 2px solid greencolor
			width 100%
			height 1px
			margin 10px 0
		& .b-btn
			margin-bottom 10px
//\\/\/\/\/\/\end rent cart\///\/\/\/////
///////////////cabinet//////////////////
.b-cabinet
	&-content
		&-button
			display block
			&-wrap
				text-align center
				background greencolor
				margin 0 10px
				padding 15px 5px 10px
				box-sizing content-box
				min-height 150px
				&-text
					font-set(18px, whitecolor)
					padding 25px 0 0
				& .fa 
					color whitecolor
	&-sidebar
		min-heihgt 1px
.b-cabinetAdd 
	font-set(18px, bgcolor)
	& .b-select
		& select
			width 100%
	&-addphonelist
		width 100%
		padding 0 7px 0
		float left
		& li 
			list-style-type none
			& .fa:hover
				color greencolor
		&-button
			float left
	&-map
		margin-top 20px
		width 100%
		height 300px
		& ya-map
			width 100%
			height 300px
			& ymap 
				width 100%
				height 300px
	& .progress 
		height 20px
		margin-bottom 20px
		overflow hidden
		background-color #f5f5f5
		border-radius 4px
		-webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.1)
		box-shadow inset 0 1px 2px rgba(0,0,0,0.1)
		& .progress-bar 
			float left
			width 0
			height 100%
			font-size 12px
			color #fff
			text-align center
			background-color #428bca
			box-shadow inset 0 -1px 0 rgba(0,0,0,0.15)
			transition width .6s ease
	& .dropzone
		border dotted 3px lightgray
		min-height 100px
		margin-bottom 20px
		background-color #f5f5f5
		border 1px solid #e3e3e3
		border-radius 4px
		box-shadow inset 0 1px 1px rgba(0,0,0,0.05)
		text-align center
		vertical-align middle
		padding 7% 
	& .b-btn
		float left
		margin-right 5px
/////////////endcabinet///////////////
.add-favorite
	width 16px
	height 16px
	background #000
	float right
	
.zero-item-table
	font-set(24px, bgcolor)
	text-align center
	margin-top 60px
.link-more
	text-decoration underline
	font-set(24px, bgcolor)	
.b-infopanel
	margin-bottom 5px
	font-set(18px, bgcolor)
	&-b 
		float right
		border 1px solid greencolor
		& div 
			width 90px
			padding 5px 10px
			color greencolor
			background whitecolo    r
			text-align center
			float left
			& i 
				padding 0 2px
		& div.active
			color whitecolor
			background greencolor
			
fieldset 
	border 0px solid #c0c0c0
	margin 0 5px
	padding 0.35em 0.75em
	

.b-pagination
	& .container
		text-align center
		& .b-btn
			display inline-block     
		& span
			margin 0 10px
                              
#popUpMsg-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index 9999999
}

#popUpMsg {
  top: 10%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  padding: 0px 20px 20px;
  background: white;
  border-radius: 5px;
  position: fixed;
  color bgcolor
}

#popUpMsg .close
	color: bgcolor;
	width: 20px;
	height: 20px;
	text-align: center;
	position: absolute;
	cursor: pointer;
	top: 15px;
	font-size: 1.7em;
	right: 20px;
	

#popUpMsg .content {

 
}
#popUpMsg .content
	& label
		color bgcolor
#popUpMsg .content .b-input-email,
#popUpMsg .content .b-input-pass
	float left	
	width 100%
#popUpMsg button {
float lefts
}
#popUpMsg .content .b-textarea
	textarea
		height 100px
		width 594px
.popUpMsg-bb{
	float left;
margin-top 20px
}
.popUpMsg-bb
	& div
		float left
		margin-right 20px
		
.referbPass-link
	margin 5px 0
	display block
	float left
	width 100%
	cursor pointer