font-set(size = fsize, color = whitecolor)
	font-size size
	line-height size + 5px
	font-family 'Exo 2', sans-serif
	font-weight 300
	color color
m(margin, auto = margin)
	margin margin auto	
p(padding)
	padding padding 
column_style()
	zoom 1
	position relative;
	min-height 1px
	box-sizing border-box
	&:after
	&:before
		content ''
		display table
	&:after
		clear both	
	

