<footer class="b-footer">
	<div class="raw">
		<div class="container">
			<div class="col">
				<div class="b-footer-logo"><img ng-src="{{logo}}" alt="NETAvito"></div>
				
			</div>
			<div class="col b-footer-call">
				<a href="javascript:void(0)" class="b-btn _b-btn-middle __b-btn-green" >Заказать звонок</a>
			</div>
			<div class="col">
				<socicons></socicons>
			</div>
		</div>
	</div>
	

		<div class="container">
			<ul class="b-footer-nav">
			    <li><a href="javascript:void(0)" title="Главная">Главная</a></li>
				<li><a href="javascript:void(0)" title="Сдать">Сдать</a></li>
				<li><a href="javascript:void(0)" title="База недвижимости">База недвижимости</a></li>
				<li><a href="javascript:void(0)" title="Статьи">Статьи</a></li>
				<li><a href="javascript:void(0)" title="Вопросы и ответы">Вопросы и ответы</a></li>
				<li><a href="javascript:void(0)" title="Пользовательское соглашение">Пользовательское соглашение</a></li>
				<li><a href="javascript:void(0)" title="Франшиза">Франшиза</a></li>
				<li><a href="javascript:void(0)" title="Контакты">Контакты</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="license">Все материалы сайта доступны по лицензии:Creative Commons Attribution 4.0 International</div>
			<div class="license">Сайт носит информационный характер и не является публичной офертой, определяемой положениями Статьи 437 (2) ГК РФ. Для получения информации о стоимости услуг, обращайтеск менеджеру через формы связи или по телефону (4812) 40-70-12.</div>
		</div>
	</div>
</footer>