<div class="raw indexgrid">
	<div class="container">
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/addnew.jpg')"><span>Подать объявление</span></a>		
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/working.jpg')"><span>Как мы работаем?</span></a>		
			
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/contact.jpg')"><span>Контакты</span></a>		
			
		</div>
	</div>
	<div class="container">
		<div class="indexgrid-1 col-xs-12" >
			<a class="tile-max" href="javascript:void(0)" style="background:url('img/indexgrid/review.jpg')"><span>Отзывы</span></a>		
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-max" href="javascript:void(0)" style="background:url('img/indexgrid/apartament.jpg')"><span>Квартира</span></a>		
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/office.jpg')"><span>Офис</span></a>		
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/room.jpg')"><span>Комната</span></a>		
		</div>
	</div>
	<div class="container">
		<div class="indexgrid-1 col-xs-12">
						<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/franshise.jpg')"><span>Франшиза</span></a>
			<a class="tile-min" href="javascript:void(0)" style="background:url('img/indexgrid/news.jpg')"><span>Статьи</span></a>	
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-max" href="javascript:void(0)" style="background:url('img/indexgrid/cell.jpg')"><span>Торговая площадь</span></a>		
		</div>
		<div class="indexgrid-1 col-xs-12">
			<a class="tile-max" href="javascript:void(0)" style="background:url('img/indexgrid/house.jpg')"><span>Дом</span></a>		
		</div>
	</div>

</div>