<div class="raw" ng-controller="newRentCtrl" class="b-newrent">
	<div class="container">
		<h2 class="b-newrent-title">{{newrent.title}}</h2>
		<ul class="b-newrent-list">
			<li ng-repeat="rent in newrent.rents" class="b-newrent-list-item">
			<a href="/rents/{{rent.id}}" background="{{rent.img}};">
			<div class="b-newrent-list-item-adres">{{rent.adres}}</div>
			<div class="b-newrent-list-item-type">{{rent.type}}</div>
			<div class="b-newrent-list-item-info">{{rent.price + __currency}} {{rent.square + __square}} <div class="add-favorite" ng-click="addFavorite(rent.id)"></div></div>
			</a>
			</li>
		</ul>
		<a href="/rents/" class="link-more">Смотреть все объявления</a>
	</div>
</div>


